.big {
  display: flex;
  width: 729px;
  height: 898px;
  top: 147px;
  left: 82px;
  align-items: center;
  justify-content: center;
}

.auth-page-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 0;
  /* transform: scale(0.72); */
}
.brand-name-div {
  display: flex;
  align-items: center;
  justify-content: center;
}
.brand-name-div p {
  font-size: 24px;
  font-weight: 700;
  color: #005ce0;
  font-family: "Inter", sans-serif;
}

.brand-name-div img {
  height: 28px;
  width: 28px;
  margin-right: 7px;
}
.header {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 1rem;
  font-family: "Inter", sans-serif;
}
.oauth-div {
  display: flex;
  gap: 1rem;
  width: 100%;
  margin-bottom: 1.5rem;
  margin-top: 2.5rem;
}
.oauth-div button {
  display: flex;
  align-items: center;
  padding: 15px 40px;
  font-size: 20px;
  font-weight: 500;
  line-height: 100%;
  font-family: "Inter", sans-serif;
  border-radius: 5px;
  color: rgba(0, 0, 0, 0.74);
  cursor: pointer;
  border-radius: 10px;
  border: 1px solid #ccc;
  justify-content: center;
  background-color: white;
}
.oauth-div button:hover {
  background-color: #e0e0e0;
}
.oauth-div button img {
  height: 2rem;
  margin-right: 10px;
}

.email-divider {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 3rem 0;
  cursor: pointer;
  width: 100%;
}
.email-divider p {
  margin: 0 10px;
  font-size: 14px;
  color: #888;
  font-weight: 500;
  font-family: "Inter", sans-serif;
}
.email-line {
  width: 120px;
  font-weight: bolder;
}
.form-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 10px;
  width: 100%;
}

.input-div-auth {
  display: flex;
  align-items: center;
  background-color: #51749509;
  border-radius: 10px;
  padding: 15px 20px;
  border: 1px solid #ddd;
  width: 396px;
  height: 52px;
}
.input-div-auth input::placeholder {
  color: rgba(0, 0, 0, 0.4);
  font-size: 14px;
  font-weight: 500;
  font-family: "Inter", sans-serif;
}

.input-div-auth:focus-within {
  border-color: #1e73be;
}

.icon-auth {
  margin-right: 12px;
  color: #888;
  font-size: 20px;
}

.input-div-auth input {
  border: none;
  background: transparent;
  outline: none;
  flex: 1;
  font-size: 16px;
  color: #333;
  padding: 8px 0;
}
.options-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 10px;
}
.remember-me {
  display: flex;
  align-items: center;
  font-size: 16px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #555555e1;
}
.remember-me input[type="checkbox"] {
  width: 20px;
  border: 1px solid #ccc;
  accent-color: #0982eb;
  transform: scale(1.5);
  cursor: pointer;
  margin: 2px;
}
.options-div label {
  display: flex;
  align-items: center;
  font-size: 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 600;
  color: #555555e1;
}
.options-div a {
  text-decoration: none;
  color: #0982eb;
  font-size: 22px;
  font-weight: 600;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.options-div a:hover {
  text-decoration: underline;
}
.action-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.create-button {
  width: 100%;
  padding: 15px;
  background-color: #005ce0;
  color: white;
  font-size: 22px;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 1.5rem;
}
.create-button:hover {
  background-color: #0041b3;
}
.login-link {
  text-align: center;
  gap: 0.5rem;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  color: #888;
  margin-top: 1rem;
  font-size: 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.login-link a {
  text-decoration: none;
  color: #0982eb;
  font-weight: 600;
}
.login-link a:hover {
  text-decoration: underline;
}
